BODY{
background: #EFAD14;
}
.logo{
  text-indent: -999999px;
  background: url('Logo.jpg');
  background-color: #EFAD14;
  width:272px;
  height: 160px;
}
div.experiment{
  body:center;
  width: 200px;
  height: 120px;
  background-color: blue;
  padding: 10px;
  border:10px solid gray;
  margin-bottom: 20px;
}
div.baseline{
  width: 400px;
  height: 80px;
  background-color:black;
}
